# flow
*.pkey
imports
.env
keys/
./keys/account01.pkey
./keys/account02.pkey
./keys/account03.pkey
./keys/account04.pkey
./keys/account05.pkey
node_modules
virtualenv
flowdb/
flowdb_bck/
results/
./keys/local_emulator/account01.pkey
./keys/local_emulator/account02.pkey
./keys/local_emulator/account03.pkey
./keys/local_emulator/account04.pkey
./keys/local_emulator/account05.pkey
